{% extends 'index.html' %}
{% block body %}
{%  if git_ssh or git_https  %}
<div class="alert alert-warning">
The installation of pygit2 missed some dependencies during install. The following features will not work:
    <ul>
        {% if git_https %}
            <li>Https (Missing openssl headers)</li>
        {% endif %}
        {% if git_ssh %}
            <li>SSH (Missing libssh2 headers)</li>
        {% endif %}
    </ul>
</div>
{% endif %}
<h1>Welcome to TechnicAntani 2</h1>
{% for pack in packs %}
<div class="media">
    <div class="media-left">
        <img src="{{ rootdir }}/{{ pack.slug }}/resources/icon.png">
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ pack.name }}</h4>
        {{ pack.description }}
    </div>
</div>
{% endfor %}
{% if not packs %}
    <h5>No packs added yet.</h5>
{% endif %}
{% endblock %}